<html>
    <head>
        <script language="javascript">
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var myObj = JSON.parse(this.responseText);
                console.log(myObj);
                var rndTipId = Math.floor(Math.random() * myObj.length) + 1
                rndTipId = rndTipId - 1
                var redirectPage = myObj[rndTipId].url
                window.location.replace(redirectPage)
            }
            };
            xmlhttp.open("GET", "/index.json", true);
            xmlhttp.send();
        </script>
    </head>
    <body>

    </body>
</html>